.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9fdfb;
}

.dashboard-body {
  display: flex;
  flex: 1;
}

.dashboard-content {
  flex: 1;
  padding: 2rem;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.05);
}
